---
layout: page
---

{% assign content = content | strip_newlines %}
{% if content != "" %}
    <div class="box">
        {{ content }}
    </div>
{% endif %}

<div class="box">
    <p>
        <b>socials:</b>
        <a href="https://github.com/{{ site.github_username}}" target="_blank" rel="noopener noreferrer">github</a>
        <a href="https://twitter.com/{{ site.twitter_username}}" target="_blank" rel="noopener noreferrer">twitter</a>
    </p>
</div>

<div class="box">
    <p><b>recent entries:</b></p>
    <ul>
        {% for post in site.posts limit:14 %}
            <li>
                <p>
                    <a href="{{ post.url }}">{{ post.date | date: "%Y-%m-%d" }}: {{ post.title }}</a>
                </p>
            </li>
        {% endfor %}
        <li>
            <p><a href="/posts/">...</a></p>
        </li>
    </ul>
</div>